.queshen{
    width: 50%;
}
.queshen_block{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.queshen_index{
    margin-left:7px ;
    color: black;
    background: gray;
    text-align: start;
    max-width: 30%;
    border-radius: 5px 5px 0 0;
}
.queshen_input{
    border: 1px solid gray;
    padding: 5%;
    height: 20%;
    border-radius: 10px;
    width: 90%;
    background: #000009;
    margin-bottom: 10px;
}
*{
    color: white;
}
.active{
    background: green;
}
.add_option{
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background: gray;
    padding: 5px;
}
@media screen and (max-width: 1000px){
    .queshen{
        width: 100%;
    }
}