.app_wrapper{
  background: #000009;
  height: 100%;
  min-height: 100vh;
}
.app{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}